# Add files here to ignore them from prettier formatting

/dist
/coverage

.prettierignore

*.sh
*.ico
*.json
*.map
*.png
*.svg
*.xml
*.gif
webpack.config.js
.gitignore

**/.gitkeep
**/hooks/**
**/node_modules/**
**/platforms/**
**/fonts/*
browserslist
plugins/**
